*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

body{
    height: 90vh;
    width: 99%;

    background: #FFFFE8;
}

h1{
    font-size: 3em;
    text-align: center;
    margin: 2%;
}
.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;

}
.item{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

.item p{
    display: inline-block;
    font-size: 1.5em;
}

.item img{
    width: 100%;
    height: 15vh;
    border-radius: 50%;
    border: 2px solid black
}